<div class="card" style="margin-left: 70px;">
    <div class="card-header">
        (type) item title (replace me)
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">item date (replace me)</li>
        <li class="list-group-item">item description (replace me)</li>
    </ul>
</div>

